.search-bar {
    margin: 8px;
    width: 90%;
    border: none !important;
    outline: none !important;
}

.searcher {
    padding: 16px 16px;
}

.row-searcher {
    width: 50%;
    border: 1px solid #002642 !important;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none !important;
}

.loupe {
    width: 20px;
}